@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #F6F6F6;
  --tertiary-color:#00AD77;
  --quaternary-color: #993C08;

  --primary-font: 'Krona One', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.header{
  padding: 2% 0% 0% 0%;
}

.header__navbar{
  display: flex;
  justify-content: center;
  gap: 80px;
}

.header__navbar__link{
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  font-weight: 600;
  text-decoration: none;
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 8px;
  padding: 10px;
  transition: background 1s;
}

.header__navbar__link:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.main {
  display: flex;
  align-items: center;
  padding: 5% 15%;
  flex-direction: column;
}

.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title__title {
  font-size: 2.25rem;
  font-family: var(--primary-font);
}

.main__title__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__title__content_img {
  width: 50%;
}

.main__title__content img{
  width: 70%;
  border-radius: 50%;
}

.main__title__content__info__list {
  list-style: none;
  font-size: 1.5rem;
  text-align: left;
}

.main__title__content__info__list__item{
  padding: 5px;
}

.main__content{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__content__subtitle {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: var(--primary-font);
}

.main__content__objective {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}

.main__content__objective__text {
  width: 500px;
  text-align: justify;
  font-size: 1.25rem;
  font-family: var(--secondary-font);
}

.main__content__information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}

.main__content__information p {
  font-size: 1.25rem;
  padding: 20px 0px;
  font-family: var(--secondary-font);
}

.main__content__exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}

.main__content__exp p {
  font-size: 1.25rem;
  padding: 20px 0px;
  font-family: var(--secondary-font);
  text-align: justify;
}

.footer {
  color: var(--primary-color);
  background: var(--tertiary-color);
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 1.5rem;
  padding: 32px 0px;
}

@media (max-width: 1200px) {
  .header {
    padding: 5%;
  }

  .header__navbar {
    justify-content: center;
  }

  .main {
    padding: 5%;
  }

  .main__title__content__info__list {
    text-align: center;
  }

  .main__title__content_img img{
  width: 100%;
  }

  .main__title__content {
    flex-direction: column;
  }

  .main__content__subtitle {
    margin: 13% 0% 0% 0%;
    text-align: center;
  }

  .main__content__information {
    flex-direction: column;
    gap: 0px;
  }

  .main__content__information__box {
    text-align: center;
  }

  .box1 {
    width: auto;
  }
}

@media (max-width: 617px) {
  .header__navbar{
    gap: 7px;
  }

  .header__navbar__link{
    padding: 0px;
  }
}