@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #F6F6F6;
  --tertiary-color:#00AD77;
  --quaternary-color: #993C08;

  --primary-font: 'Krona One', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.header{
  padding: 2% 0% 0% 0%;
}

.header__navbar{
  display: flex;
  justify-content: center;
  gap: 80px;
}

.header__navbar__link{
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  font-weight: 600;
  text-decoration: none;
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 8px;
  padding: 10px;
  transition: background 1s;
}

.main {
  display: flex;
  align-items: center;
  padding: 5% 15%;
  justify-content: space-between;
  gap: 5%;
}

.titulo {
  color: var(--quaternary-color);
}

.box1 {
  width: 50%;
  margin-right: inherit;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box1__content__title{
  font-size: 2.25rem;
  text-align: center;
  font-family: var(--primary-font);
}

.box1__content__text{
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  text-align: justify;
}

.box1__content__links{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.box1__content__links__text{
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.5rem;
}

.box1__content__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--tertiary-color);;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 21.5px 0;
  color: var(--tertiary-color);;
  font-family: var(--secondary-font);
  font-weight: 600;
  text-decoration: none; /* tirar sublinhado*/
  transition: background 1s;
}

.box1__content__links__link img{
  width: 7%;
}

.box1__content__links__link:hover, .header__navbar__link:hover {
  background-color: var(--tertiary-color);;
  color: var(--primary-color);
}

.box2__image{
  width: 50%;
  border-radius: 25% 5% 25% 5%;
}

.footer {
  color: var(--primary-color);
  background: var(--tertiary-color);;
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 1.5rem;
  padding: 32px 0px;
}

@media (max-width: 1200px) {
  .header {
    padding: 5%;
  }

  .header__navbar {
    justify-content: center;
  }

  .main {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .box1 {
    width: auto;
  }

  .box1__content__links__link img {
    display: none;
  }
}

@media (max-width: 617px) {
  .header__navbar{
    gap: 7px;
  }

  .header__navbar__link{
    padding: 0px;
  }
}